In [1]:
import pandas as pd

In [2]:
# Criando um dataset qualquer a partir de um dicionário

Base = {'Papel':['LREN3', 'MDIA3', 'VLID3', 'FLRY3'],
        'Quantidade':[200, 100, 300, 400],
        'Preço de Compra':['R$ 15,00','R$ 20,00', 'R$ 17,00', 'R$ 14,00'],
        'Preço de Venda': ['R$ 20,00', '', 'R$ 23,00', '']}

Base = pd.DataFrame(Base)
Base

   Papel  Quantidade Preço de Compra Preço de Venda
0  LREN3         200        R$ 15,00       R$ 20,00
1  MDIA3         100        R$ 20,00
2  VLID3         300        R$ 17,00       R$ 23,00
3  FLRY3         400        R$ 14,00

In [3]:
# Tratando as variáveis strings que contêm valor
# Primeiro passo: remover os caracteres R$ da variável
# O 'split(' ')' transforma a string numa lista separando a partir do ' '. O [1] fica com 2° item da lista

Base['Preço de Compra'].apply(lambda x: str(x).split(' ')[1])

0    15,00
1    20,00
2    17,00
3    14,00
Name: Preço de Compra, dtype: object

In [4]:
# Um outro modo de resolver o Primeiro passo
Base['Preço de Compra'].apply(lambda x: str(x).replace('R$ ',''))

0    15,00
1    20,00
2    17,00
3    14,00
Name: Preço de Compra, dtype: object

In [6]:
# O comando abaixo mostra a quantidade máxima de caracteres por 'coluna'
pd.get_option('max_colwidth')

50

In [19]:
# O comando abaixo define um novo tamanho de coluna para ser mostrado no console
pd.set_option('max_colwidth',120)

In [13]:
# Para uma lista de variáveis
ListaVars = ['Preço de Compra', 'Preço de Venda']

for i in ListaVars:
    Base[i] = Base[i].apply(lambda x: str(x).replace('R$ ',''))
    
print(Base)

   Papel  Quantidade Preço de Compra Preço de Venda
0  LREN3         200           15,00          20,00
1  MDIA3         100           20,00
2  VLID3         300           17,00          23,00
3  FLRY3         400           14,00